{% extends "layout.html" %}

{% block content %}

<style>
	label {
		font-size:11px;
	}
</style>

<!-- forms [ADD ENTRY] -->
<!---------------------------------------------->
<div id="add-form" style="display: none; text-align: center; margin-top: 25px; width: 70%; margin-left: auto; margin-right: auto;">

	<h4>
		Add Your Details
	</h4>
	
	<p>
		This release in alpha version. Form validation is not yet added so please enter values carefully.
	</p>
		
	<!-- PERSONAL -->
	<H5> Personal </H5>
  <div class="row">
    <div class="six columns">
      <label>Full Name</label>
      <input id="fullName" class="u-full-width" type="text" placeholder="John Doe">
      
      <label>Preferred Name</label>
      <input class="u-full-width" type="text" placeholder="J0hn1" id="nickName">
    </div>
    
    <div class="six columns">
      <label>Current Status</label>
      <select class="u-full-width" id="curStatus">
        <option value="Working">Working</option>
        <option value="Student">Student</option>
      </select>
      
      <label>Location</label>
      <select class="u-full-width" id="curLoc">
        <option value="Chennai">Chennai</option>
        <option value="Bangalore">Bangalore</option>
      </select>
    </div>
  </div>
  
  <div class="row">
  <div class="twelve columns">
  <label>Bio</label>
  <textarea class="u-full-width" placeholder="Drag lower left corner to expand text box... tell about yourself" id="bio"></textarea>
  </div>
  </div>
  
  
  <!-- SKILLS -->
  <h5>Skills</h5>
  
  <div class="row">
  <div class="twelve columns">
  <label>Programming Languages</label>
  <select class="u-full-width" id="progLangs" multiple>
      <option value="Python">Python</option>
      <option value="Javascript">Javascript</option>
      <option value="Java">Java</option>
      <option value="C++">C++</option>
      <option value="C">C</option>
      <option value="Swift">Swift</option>
  </select>
  
  <label>Advanced Level of Proficiency</label>
  <select class="u-full-width" id="advSkills" multiple>
      <option value="Frontend">Frontend</option>
      <option value="Backend">Backend</option>
      <option value="Full Stack">Full Stack</option>
      <option value="Data Science">Data Science</option>
      <option value="MLDL">Machine Learning / Deep Learning</option>
      <option value="Big Data">Big Data</option>
      <option value="DevOps">DevOps</option>
      <option value="Cloud">Cloud</option>
      <option value="Android">Android</option>
      <option value="iOS">iOS</option>
      <option value="Cross Platform">Cross Platform</option>
      <option value="Embedded">Embedded</option>
      <option value="Cybersecurity">Cybersecurity</option>
  </select>
  
  <label>Intermediate Level of Proficiency</label>
  <select class="u-full-width" id="medSkills" multiple>
      <option value="Frontend">Frontend</option>
      <option value="Backend">Backend</option>
      <option value="Full Stack">Full Stack</option>
      <option value="Data Science">Data Science</option>
      <option value="MLDL">Machine Learning / Deep Learning</option>
      <option value="Big Data">Big Data</option>
      <option value="DevOps">DevOps</option>
      <option value="Cloud">Cloud</option>
      <option value="Android">Android</option>
      <option value="iOS">iOS</option>
      <option value="Cross Platform">Cross Platform</option>
      <option value="Embedded">Embedded</option>
      <option value="Cybersecurity">Cybersecurity</option>
  </select>
  
  <label>Beginner</label>
  <select class="u-full-width" id="begSkills" multiple>
      <option value="Frontend">Frontend</option>
      <option value="Backend">Backend</option>
      <option value="Full Stack">Full Stack</option>
      <option value="Data Science">Data Science</option>
      <option value="MLDL">Machine Learning / Deep Learning</option>
      <option value="Big Data">Big Data</option>
      <option value="DevOps">DevOps</option>
      <option value="Cloud">Cloud</option>
      <option value="Android">Android</option>
      <option value="iOS">iOS</option>
      <option value="Cross Platform">Cross Platform</option>
      <option value="Embedded">Embedded</option>
      <option value="Cybersecurity">Cybersecurity</option>
  </select>
  
  <label>Tools or Frameworks of choice</label>
  <input class="u-full-width" type="text" id="fvtTools" placeholder="REACT, MERN, GraphQL, Tensorflow, PySpark, Hadoop, Docker, Jenkins, Heroku, Wireshark, Metasploit ...">
  
  <label>Dev Communities you are part of</label>
  <select class="u-full-width" id="communities" multiple>
  	<option value="ChennaiJS">ChennaiJS</option>
  	<option value="TFJS">TFJS Dev</option>
  	<option value="Dev Army">Dev Army</option>
  </select>
  
  </div>
  </div>
  
  <!-- SOCIAL -->
  <h5>Social</h5>
  <div class="row">
  	<div class="four columns">
      <label>LinkedIn</label>
      <input class="u-full-width" type="text" placeholder="Profile URL" id="linkedinUrl">
      
      <label>WhatsApp</label>
      <input class="u-full-width" type="text" placeholder="Contact Number" id="whatsappNum">
  	</div>
  	
  	<div class="four columns">
      <label>Twitter</label>
      <input class="u-full-width" type="text" placeholder="Profile URL" id="twitterUrl">
  	</div>
  	
  	<div class="four columns">
      <label>GitHub</label>
      <input class="u-full-width" type="text" placeholder="Profile URL" id="githubUrl">
  	</div>
  	
  	<div class="eight columns">
  		<label>Email (will be needed to permanently remove your entry)</label>
      <input class="u-full-width" type="email" placeholder="johndoe@doemail.com" id="email">
  	</div>

  </div>
  
  <br />
  <br />
  
  <div class="row">
  <div class="twelve columns">
  <label>Create your secret key (will be needed to permanently remove your entry)</label>
  <input class="u-full-width" type="text" placeholder="secret key (strong and easy to remeber)" id="secretKey">
  </div>
  </div>
  
  <input type="button" onclick="getDataAndPOST()" value="submit">
  
</div>



<script>
	// post for add FORM
	// -----------------
	// document.getElementById("console").innerHTML = "my console"
	function getDataAndPOST() {
		var fullName = document.getElementById("fullName").value
		var nickName = document.getElementById("nickName").value
		var curLoc   = document.getElementById("curLoc").value
		var curStatus= document.getElementById("curStatus").value
		var bio      = document.getElementById("bio").value
		
		var progLangsList = []
		var multiSelect   = document.getElementById("progLangs")
		for (let i=0; i<multiSelect.selectedOptions.length; i++ ) {
			progLangsList.push(multiSelect.selectedOptions[i].value)
		}
		
		var advSkillsList = []
		var multiSelect   = document.getElementById("advSkills")
		for (let i=0; i<multiSelect.selectedOptions.length; i++ ) {
			advSkillsList.push(multiSelect.selectedOptions[i].value)
		}
		
		var medSkillsList = []
		var multiSelect   = document.getElementById("medSkills")
		for (let i=0; i<multiSelect.selectedOptions.length; i++ ) {
			medSkillsList.push(multiSelect.selectedOptions[i].value)
		}
		
		var begSkillsList = []
		var multiSelect   = document.getElementById("begSkills")
		for (let i=0; i<multiSelect.selectedOptions.length; i++ ) {
			begSkillsList.push(multiSelect.selectedOptions[i].value)
		}
		
		var communitiesList = []
		var multiSelect   = document.getElementById("communities")
		for (let i=0; i<multiSelect.selectedOptions.length; i++ ) {
			communitiesList.push(multiSelect.selectedOptions[i].value)
		}
		
		var fvtTools   = document.getElementById("fvtTools").value.replace(/\s/g, "").toLowerCase()
		
		var linkedinUrl= document.getElementById("linkedinUrl").value
		var whatsappNum= document.getElementById("whatsappNum").value
		var twitterUrl = document.getElementById("twitterUrl").value
		var githubUrl  = document.getElementById("githubUrl").value
		var email      = document.getElementById("email").value
		var secretKey  = document.getElementById("secretKey").value

	  //post
	  axios.post('/api/member', {
	  	full_name       : fullName,
	  	nick_name       : nickName,
	  	cur_city        : curLoc,
	  	cur_status      : curStatus,
	  	bio             : bio,
	  	prog_langs      : progLangsList.toString(),
	  	adv_skills      : advSkillsList.toString(),
	  	med_skills      : medSkillsList.toString(),
	  	beg_skills      : begSkillsList.toString(),
	  	communities     : communitiesList.toString(),
	  	fvt_tools       : fvtTools,
	  	linkedin_url    : linkedinUrl,
	  	whatsapp_num    : whatsappNum,
	  	twitter_url     : twitterUrl,
	  	github_url      : githubUrl,
	  	email           : email,
	  	secret_key      : secretKey
	  }
	  ).then(function(response){
	  	//console.log(response)
	  })
	}

</script>




<!-- DELETE FORM -->
<!---------------------------------------------->
<div id="remove-form" style="display: none; text-align: center; margin-top: 25px">
	<h4>
		Permanently remove details from <b>Filter</b>
	</h4>
	
		<label>Email</label>
		<input type="email" id="authEmail">
		<label>Secret Key</label>
		<input type="text" id="authSecretKey">
		<br />
		<input type="button" onclick="getDataAndDELETE()" value="Remove">
</div>

<script>
	// DELETE Request
	function getDataAndDELETE() {
		var email = document.getElementById("authEmail").value
		var secretKey = document.getElementById("authSecretKey").value
		
		axios.delete("/api/member", {
			data: {
				secret_key: secretKey,
				email     : email
			}
		})
	}
</script>



<!-- Update FORM -->
<!------------------>
<div id="update-form" style="display: block; text-align: center; margin-top: 25px; margin-left: auto; margin-right: auto; width: 70%">
	<h4>
		Update Your Details
	</h4>
	
		<label>Email (required)</label>
		<input type="email" id="authEmail2">
		
		<label>Secret Key (required)</label>
		<input type="text" id="authSecretKey2">
		
		<br />
		<label id="ftuLabel">Fields to update</label>
		<select id="ftuOptions" class="u-full-width" multiple id="fieldsToUpdate">
			<option value="full_name">Full Name</option>
			<option value="nick_name">Preferred Name</option>
			<option value="cur_status">Working / Student</option>
			<option value="cur_city">Curent City</option>
			<option value="bio">Bio</option>
			<option value="twitter_url">Twitter URL</option>
			<option value="linkedin_url">LinkedIn URL</option>
			<option value="whatsapp_num">WhatsApp Number</option>
			<option value="github_url">GitHub URL</option>
			<option value="email">Email</option>
			<option value="communities">Communities</option>
			<option value="prog_langs">Prog_langs</option>
			<option value="adv_skills">Skills - Advanced</option>
			<option value="med_skills">Skills - Intermediate</option>
			<option value="beg_skills">Skills - Beginner</option>
			<option value="fvt_tools">Tools of Choice</option>
			<option value="secret_key">Secret Key</option>
		</select>
		
		<div id="fields-add">
			
		</div>
		
		<input id="startUpdating" type="button" onclick="removeAndAdd()" value="Start Updating">
</div>


<script>

function removeAndAdd() {

	// add:
  // get list of fields
  var ftuList = []
  var multiSelect   = document.getElementById("ftuOptions")
  for (let i=0; i<multiSelect.selectedOptions.length; i++ ) {
		ftuList.push(multiSelect.selectedOptions[i].value)
	}
	
	// add label and input / multiselect fields
	// depending on `field` type
	var strFields = ["full_name", "nick_name", "bio", "twitter_url", "linkedin_url", "github_url", "whatsapp_num", "email", "fvt_tools", "secret_key"]
  var optionFields = ["cur_status", "cur_city", "communities", "prog_langs", "adv_skills", "med_skills", "beg_skills"]
	var singleOptFields = ["cur_status", "cur_city"]
	for (let i=0; i<ftuList.length; i++) {
		
		field_name = ftuList[i]
		var fieldsAdd = document.getElementById("fields-add")
		
		// str fields with onky <labe> and <input>
		if (strFields.includes(field_name)) {
			
			var newLabel = document.createElement('label')
			newLabel.innerHTML = "Update " + field_name.replace("_", " ")
			fieldsAdd.appendChild(newLabel)
			
			var newInput = document.createElement('input')
			newInput.type = "text"
			newInput.id = field_name
			newInput.classList.add('u-full-width')
			fieldsAdd.appendChild(newInput)
			
			
		} else if (optionFields.includes(field_name)) {
			
			var newLabel = document.createElement('label')
			newLabel.innerHTML = "Update " + field_name.replace("_", " ")
			fieldsAdd.appendChild(newLabel)
			
			// add multiple/single options
			var newSelect = document.createElement("select")
			newSelect.id = field_name
			newSelect.classList.add('u-full-width')
			if (!singleOptFields.includes(field_name)) {
				newSelect.multiple = true
			}
			
			if (field_name === "cur_status"){
				newSelect.innerHTML = `
        <option value="Working">Working</option>
        <option value="Student">Student</option>
        `
			}
			
			if (field_name == "cur_city") {
				newSelect.innerHTML = `
        <option value="Chennai">Chennai</option>
        <option value="Bangalore">Bangalore</option>
				`
			}
			
			if (field_name === "communities") {
				newSelect.innerHTML = `
  	<option value="ChennaiJS">ChennaiJS</option>
  	<option value="TFJS">TFJS Dev</option>
  	<option value="Dev Army">Dev Army</option>
				`
			}
			
			if (field_name === "prog_langs") {
				newSelect.innerHTML = `
      <option value="Python">Python</option>
      <option value="Javascript">Javascript</option>
      <option value="Java">Java</option>
      <option value="C++">C++</option>
      <option value="C">C</option>
      <option value="Swift">Swift</option>
				`
			}
			
			if ((field_name === "adv_skills") || (field_name==="beg_skills") || (field_name==="med_skills")) {
				newSelect.innerHTML = `
      <option value="Frontend">Frontend</option>
      <option value="Backend">Backend</option>
      <option value="Full Stack">Full Stack</option>
      <option value="Data Science">Data Science</option>
      <option value="MLDL">Machine Learning / Deep Learning</option>
      <option value="Big Data">Big Data</option>
      <option value="DevOps">DevOps</option>
      <option value="Cloud">Cloud</option>
      <option value="Android">Android</option>
      <option value="iOS">iOS</option>
      <option value="Cross Platform">Cross Platform</option>
      <option value="Embedded">Embedded</option>
      <option value="Cybersecurity">Cybersecurity</option>
				`
			}
			
			fieldsAdd.appendChild(newSelect)
			/*
			var newSelect = document.createElement("select")
			newSelect.id = field_name
			newSelect.classList.add('u-full-width')
			newSelect.multiple = true
			newSelect.innerHTML = `<option value="ff"> ff </option>`
			fieldsAdd.appendChild(newSelect)
			*/
		}
		
	}
	
	// remove: fieldsToUpdate label and options
	document.getElementById("ftuLabel").outerHTML = "";
	document.getElementById("ftuOptions").outerHTML = "";
	document.getElementById("startUpdating").outerHTML = ""
	var updateButton = document.createElement("input")
	updateButton.type="button"
	updateButton.onclick = "getDataAndPATCH()"
	updateButton.value = "update"
	fieldsAdd.appendChild(updateButton)
}

	// get data and PATCH Request
</script>




<!-- toggle forms -->
<div style="text-align: center; border-top: 0.6px solid #808080; margin-top: 40px; padding: 20px">
	<p>
		Looking for something else?
	</p>
	<button class="button-primary" onclick="showAddHideUpdateRemove()">New Entry</button>
	<button class="button-primary" onclick="showUpdateHideAddRemove()">Update Entry</button>
	<button class="button-primary" onclick="showRemoveHideAddUpdate()">Remove Entry</button>
</div>

<script>
	function showAddHideUpdateRemove(){
		document.getElementById('update-form').style.display = "none";
		document.getElementById('add-form').style.display = "block";
		document.getElementById('remove-form').style.display = "none";
	}
	function showUpdateHideAddRemove(){
		document.getElementById('update-form').style.display = "block";
		document.getElementById('add-form').style.display = "none";
		document.getElementById('remove-form').style.display = "none";
	}
	function showRemoveHideAddUpdate(){
		document.getElementById('update-form').style.display = "none";
		document.getElementById('add-form').style.display = "none";
		document.getElementById('remove-form').style.display = "block";
	}
</script>

{% endblock %}