{% extends "layout.html" %}

{% block content %}

<!-- Before Waves -->
<!------------------>
  <div style="text-align: center; margin-top: 5%">
		<h1>FILTER</h1>
		<p>
			<i>❝ Don't have to chase what wants to stay with you!</i><br>
			Find people to code, connect, collaborate and grow together with <b>Filter</b> for communities.
		</p>
	</div>



	<div style="text-align: center; padding-bottom: 10%;">
	 <a class="button" href="/docs">API DOCS</a> <br/>
   <a class="button button-primary" style="width: 80%" href="/api/dashboard/app"><i class="fa fa-chain"></i>Dashboard</a>
   <a class="button button-primary" style="width: 80%" href="/form"> Add/Remove Me</a>
   <a class="button button-primary" style="width: 80%" href="/api/filter/app"> Explore!</a>	
	</div>

<!-- footer -->
<style>
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 10px;
}
</style>

<div class="footer">
  <p>
  Built For Love of Open Source and Tech Communities <br />
  Alpha Release v0.0.1 - <a href="https://github.com/rakesh4real/Filter">GitHub</a> - Author: <a href="https://rakesh4real.github.io/">Asapanna Rakesh</a>
  <br /> 
  </p>
</div>


{% endblock %}