{% extends "layout.html" %}

{% block content %}


  <div style="text-align: center">
		<h1>FILTER</h1>
		<p>
			For your tech in need this is the tech indeed! <br>
			Connect, code and grow together with <b>Filter</b> for communities.
		</p>
	</div>



	<div style="text-align: center;">
   <a class="button button-primary" style="width: 80%" href="/api/dashboard"> Dashboard</a>
   <a class="button button-primary" style="width: 80%" href="/form"> Add/Remove Me</a>
   <a class="button button-primary" style="width: 80%" href="/api/filter"> Explore!</a>	
	</div>



<!-- footer -->
<style>
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 10px;
}
</style>

<div class="footer">
  <p>
  Built for the love of open-source and tech communities
  <a href="https://github.com/rakesh4real/Filter">Find in GitHub</a> <br />
  
    Author: <a href="https://rakesh4real.github.io/">Asapanna Rakesh</a>
  <br /> 
  </p>
</div>


{% endblock %}