<!doctype html>
<html lang="en">
	
<head>
  <meta charset="utf-8">
  <title>FILTER</title>
  <meta name="github" content="github.com/rakesh4real/FILTER">
  <meta name="author" content="Asapanna Rakesh <rakesh4real.github.io>">
</head>

<body>
	
<!-- Standard buttons -->
<a class="button" href="#">Anchor button</a>
<button>Button element</button>
<input type="submit" value="submit input">
<input type="button" value="button input">

<!-- Primary buttons -->
<a class="button button-primary" href="#">Anchor button</a>
<button class="button-primary">Button element</button>
<input class="button-primary" type="submit" value="submit input">
<input class="button-primary" type="button" value="button input">

</body>

</html>