<!doctype html>
<html lang="en">
	
<head>
  <meta charset="utf-8">
  <title>FILTER</title>
  <meta name="github" content="github.com/rakesh4real/FILTER">
  <meta name="author" content="Asapanna Rakesh <rakesh4real.github.io>">
  
  <!-- for mobile view -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- for ui - dead simple -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" integrity="sha256-2YQRJMXD7pIAPHiXr0s+vlRWA7GYJEK0ARns7k2sbHY=" crossorigin="anonymous" />
  
  <!-- rest api -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  
  <!-- dashboard vis -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=" crossorigin="anonymous"></script>
</head>

<body>
	
	{% block content %}
	{% endblock %}
	
</body>

</html>